body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 25px 0;
}

.search {
    display: flex;
    gap: 25px;
}
.content {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 25px;
} 
.info {
    width: 100%;
    height: 600px;
} 
.button:hover {
    cursor: pointer;
}